#!/usr/bin/make -f
DESTDIR = $(CURDIR)/debian/tmp
%:
	dh $@

override_dh_auto_build:
	# Build using Makefile
	$(eval PATH := /usr/lib/go-1.21/bin:$(PATH))
	$(eval HOME := $(CURDIR))
	export HOME="$(CURDIR)"
	@echo "HOME = $(HOME)"
	export GOENV='off'
	export GO111MODULE='off'
	export GOPATH="./gopath"
	export GOMODCACHE='./gomod'
	export GOTMPDIR="./gotemp"
	export GOTOOLCHAIN="local"
	make build

override_dh_auto_install:
	# Install manually
	install -D -m 0755 bin/frpc $(DESTDIR)/usr/bin/frpc
	install -D -m 0755 bin/frps $(DESTDIR)/usr/bin/frps
	install -D -m 0655 conf/frpc.toml $(DESTDIR)/etc/frp/frpc.toml
	install -D -m 0655 conf/frps.toml $(DESTDIR)/etc/frp/frps.toml
	install -D -m 0655 frpc.service $(DESTDIR)/etc/systemd/system/frpc.service
	install -D -m 0655 frps.service $(DESTDIR)/etc/systemd/system/frps.service
override_dh_install:
	dh_install --sourcedir=debian/tmp
